<% include header %>
<style>
    h3 {
        width: 14em;
        padding: .3em;
    }
    .text {
        width: 40em;
        font-size: 1em;
        padding: .6em;
    }
    .tip {
        margin-left: 12px;
        padding: .3em;
        display: inline-block;
    }
<div class="fullScreen">
    <h2 class="ptb hd ui-widget-content">新建广告分类</h2>
    <div class="plr ptb">
        <h3 class="fl">名称</h3>
        <input class="text fl ui-widget-content ui-corner-all" id="name" value="" placeholder="不超过20个汉字">
        <span class="tip clear">*</span>
    </div>
    <div class="ptb hd ui-widget-content"></div>
    <div class="plr ptb">
        <h3 class="fl"></h3>
        <button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="submit" role="button"><span class="ui-button-text"> 完 成 </span></button>
        <span class="tip clear"></span>
    </div>
</div></style>
<div class="fullScreen">
    <h2 class="ptb hd ui-widget-content">新建广告分类</h2>
    <div class="plr ptb">
        <h3 class="fl">名称</h3>
        <input class="text fl ui-widget-content ui-corner-all" id="name" value="" placeholder="不超过20个汉字">
        <span class="tip clear">*</span>
    </div>
    <div class="ptb hd ui-widget-content"></div>
    <div class="plr ptb">
        <h3 class="fl"></h3>
        <button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="submit" role="button"><span class="ui-button-text"> 完 成 </span></button>
        <span class="tip clear"></span>
    </div>
</div>
<% include footer %>