<% include header %>
<style>
    h3 {
        width: 14em;
        padding: .3em;
    }
    .text {
        width: 40em;
        font-size: 1em;
        padding: .6em;
    }
    .tip {
        margin-left: 12px;
        padding: .3em;
        display: inline-block;
    }
    .ggContent{
	    height: 15em;
	    width: 60em;
    }
</style>
<div class="fullScreen">
	<h2 class="ptb hd ui-widget-content">新建广告类型</h2>
	<div class="plr ptb">
		<h3 class="fl">名称</h3>
		<input class="text fl ui-widget-content ui-corner-all" id="name" value="" placeholder="不超过20个汉字">
		<span class="tip clear">*不超过80个汉字</span>
	</div>
	<div class="plr ptb">
		<h3 class="fl">广告html</h3>
		<textarea class="text fl ui-widget-content ui-corner-all ggContent" id="html"  placeholder="不超过10000"></textarea>
		<span class="ui-icon ui-icon-circle-close rePos" id="clear" style="cursor: pointer;" title="清空"></span>
	</div>
	<div style="clear: both"></div>
	<div class="plr ptb">
		<h3 class="fl">广告js</h3>
		<textarea class="text fl ui-widget-content ui-corner-all ggContent" id="js" placeholder="不超过10000"></textarea>
		<span class="ui-icon ui-icon-circle-close rePos" id="clear" style="cursor: pointer;" title="清空"></span>
	</div>
	<div style="clear: both"></div>
	<div class="plr ptb clear">
		<h3 class="fl">工具</h3>
		<button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="textGG" role="button">
			<span class="ui-button-text">
				<span class="ui-button-text">文字</span>
			</span>
		</button>
		<button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="imgGG" role="button">
			<span class="ui-button-text">
				<span class="ui-button-text">图片</span>
			</span>
		</button>
	</div>
	<div class="ptb hd ui-widget-content"></div>
	<div class="plr ptb">
		<h3 class="fl"></h3>
		<button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="submit" role="button">
			<span class="ui-button-text">完 成</span>
		</button>
		<span class="tip clear"></span>
	</div>
</div>
<script src="/javascripts/layer/layer.js" type="text/javascript" charset="utf-8" ></script>
<script src="/javascripts/app/addType.js" type="text/javascript" charset="utf-8" ></script>
<% include footer %>