<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title><%=title%></title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/all.min.css">
    <script src="/javascripts/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/javascripts/common-lib.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/javascripts/common-ui.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/javascripts/common-func.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/javascripts/common-init.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
    <div style="min-height: 88%;">
        <style>
    #head {
        position: relative;
        width: 100%;
        height: 30px;
        z-index: 10;
        border-right-width: 0px;
        border-left-width: 0px;
        min-width: 1200px;
    }
    #logo {
        height: 30px;
        width: 120px;
        text-align: center;
    }

    #allMenu{
        position: relative;
        z-index: 10;
    }
    .menu li a{
        display: block;
    }
    .ui-menu {
        min-width: 100px;
    }

    #content {
        position: absolute;
        overflow: hidden;
        z-index: 8;
        left: 0px;
        top: 32px;
        right: 0px;
        bottom: 0px;
        min-width: 1200px;
    }
    #mainFrame {
        height: 100%;
        width: 100%;
    }
</style>
      <script>
    $(function () {
        var is_show = false;
        $("#gg").button({
            icons: {
                primary: "ui-icon-comment",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#ggcl").button({
            icons: {
                primary: "ui-icon-shuffle",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#ggw").button({
            icons: {
                primary: "ui-icon-flag",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#ggws").button({
            icons: {
                primary: "ui-icon-script",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#statistics").button({
            icons: {
                primary: "ui-icon-signal",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#setup").button({
            icons: {
                primary: "ui-icon-gear",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $("#theme").button({
            icons: {
                primary: "ui-icon-heart",
                secondary: "ui-icon-triangle-1-s"
            }
        })
        $(".themesItem").click(function () {
            var theme = $(this).text();
            $("#themes").attr('href', 'css/' + theme + '/ui.css');
            $("iframe").contents().find("#themes").attr('href', 'css/' + theme + '/ui.css');
            $("iframe").contents().find("iframe").contents().find("#themes").attr('href', 'css/' + theme + '/ui.css');
            setCoo('niuxams_theme', theme, 120);
            $(this).siblings().removeClass("ui-state-disabled");
            $(this).addClass("ui-state-disabled");
        });
        $("#help").button({
            icons: {
                primary: "ui-icon-help"
            }
        });
        $("#logout").button({
            icons: {
                primary: "ui-icon-power"
            }
        });
    });
</script>
        <div id="head" class="ui-widget-header">
            <div id="logo" class="fl">欢迎访问盈通管理系统</div>
            <div id="menuBar" class="fl">
                <a id="ggw" href="/" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-flag"></span>
                    <span class="ui-button-text">所有广告</span>
                </a>
                <a id="gg" href="/addAd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-comment"></span>
                    <span class="ui-button-text">添加广告</span>
                </a>
                <a id="setup" href="allAdBox" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-gear"></span>
                    <span class="ui-button-text">所有广告位</span>
                </a>
                <a id="ggcl" href="/addAdBox" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-shuffle"></span>
                    <span class="ui-button-text">添加广告位</span>
                </a>
                  <a id="statistics"  href="/allCategory/1" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-signal"></span>
                    <span class="ui-button-text">所有分类</span>
                </a>
                <a id="ggws" href="/addCategory" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-script"></span>
                    <span class="ui-button-text">添加分类</span>
                </a>
                <a id="theme" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-heart"></span>
                    <span class="ui-button-text">主题</span>
                </a>
                <a id="help" title="访问官网 获取最新帮助" href="http://www.niuxsoft.com/niuxams/" target="_blank" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-help"></span>
                    <span class="ui-button-text">帮助</span>
                </a>
                <a id="logout" title="清除登录痕迹 安全退出系统" href="logout.php" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
                    <span class="ui-button-icon-primary ui-icon ui-icon-power"></span>
                    <span class="ui-button-text">注销</span>
                </a>
            </div>
            <div class="clear"></div>
        </div>

