<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	
</head>
<body>
	<script src="http://127.0.0.1/niuXams/output/forum-4.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-5.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-6.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-7.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-8.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-9.js"></script>
	<script src="http://127.0.0.1/niuXams/output/forum-9.js"></script>
</body>
</html>